@model Mod
@{
    ViewBag.Title = "Dosya düzenleme";
}

<div id="content">
    <div id="upload">
        <div class="container">
            <h2>@Model.Name</h2>
            <noscript>
                <div class="alert alert-danger">
                    Dosya upload edebilmek için tarayıcında Javascript aktif edilmiş olmalı.
                </div>
            </noscript>
            @using (Html.BeginForm("Edit", "Upload", FormMethod.Post, new { onSubmit = "return uploadcontrol();", action="/Upload/Edit", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div style="visibility:hidden" id="hidden-images"></div>
                @Html.HiddenFor(x => x.ID)
                <div class="row">
                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="alert alert-danger alert-error collapse"></div>
                                <div class="alert alert-warning collapse"></div>
                                <div class="form-group">
                                    <label for="input-name">Dosya Adı</label>
                                    <input maxlength="128" type="text" name="name" class="form-control" id="input-name" value="@Model.Name" required="">
                                </div>
                                <div class="form-group">
                                    <label for="input-author">Yapımcı</label>
                                    <input type="text" readonly name="author" class="form-control" id="input-author" value="@Model.User.UserName">
                                </div>
                                <div class="form-group">
                                    <label for="input-name">Versiyon</label>
                                    <input type="text" maxlength="32" name="version" class="form-control" id="input-version" value="@Model.Version">
                                </div>
                                <div class="form-group">
                                    <label for="input-category">Kategori</label>
                                    <input type="text" readonly class="form-control" value="@Model.Category.Name">
                                </div>
                                <div class="form-group">
                                    <label for="input_description">Açıklama</label>
<textarea value="@Model.Description" name="description" id="input_description" class="form-control" rows="14" placeholder="Eğer gerekliyse bilgi ve kurulum talimatları ekleyiniz..." required="">@Model.Description</textarea>
                                    <p class="help-block">
                                        <small>İzin verilen HTML etiketleri: &lt;b&gt;,&lt;i&gt;,&lt;u&gt;,&lt;a&gt;,&lt;ul&gt;,&lt;ol&gt;,&lt;li&gt;</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <label for="input-images">Ekran görüntüsü ekle</label>
                                <small>(Sadece .jpg ya da .png; En fazla 10 adet; Her biri 2Mb)</small>
                                <input type="file" name="input-images" id="input-images" accept=".jpeg, .jpg, .png" data-maxsize="2" multiple="">
                                <div class="image-list row">
                                </div>

                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="panel panel-default">
                                    <div class="text-center">
                                        <b>Aktif dosya</b><br />
                                        <a href="/@Model.ToUrlString()/indir">@Html.QueryOutput(Model.File.StartsWith(".."), Model.File.Split('/').Last(),Model.File)</a>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <label for="input-file">Dosya Upload</label>
                                        <small>(Sadece .rar yada .zip. En fazla 256mb.)</small>
                                        <input data-maxsize="200" type="file" name="file" id="input-file" accept=".rar,.zip">

                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <label for="input-images">Dosya Linki</label>
                                        <small>(Sharemods, Google Drive, Yandex Disk, Mediafire)</small>
                                        <input type="text" name="url" class="form-control" id="input-url" value="">
                                    </div>
                                </div>
                                <label class="alert alert-primary">Dosya veya link giriniz. İkisi de girilirse dosya dikkate alınacaktır.</label>

                            </div>
                        </div>
                        <div class="well well-sm">
                            <p>
                                Açıklama kısmında yazabilecekleriniz için hatırlatmalar:
                            </p>
                            <ul>
                                <li>Hatalar ve özellikler</li>
                                <li>Kurulum talimatları</li>
                                <li>Yapımcılar, yeniden kullanım için izinler</li>
                            </ul>
                            <p>
                                Gerekli ayrıntıların sağlanmaması dosyanın reddedilmesine neden olabilir.
                            </p>
                        </div>
                        <a href="/Anasayfa" class="btn btn-lg btn-default">
                            İptal
                        </a>
                        <button type="submit" class="btn btn-lg btn-primary">
                            Kaydet
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section scripts{
    <script>
        function uploadcontrol() {
            var imgs = new Array();
            var imgsrc = $('.image-item .img-responsive');
            if (imgsrc.length > 7 || imgsrc.length < 1) {
                Swal.fire({ title: "Hata", text: "En az 1 adet en fazla 7 adet resim eklenebilir.", confirmButtonColor: '#1ca445', icon: 'error' });
                return false;
            }
            $('#hidden-images').html()
            for (var i = 0; i < imgsrc.length; i++) {
                $('#hidden-images').append('<input type="hidden" name="images[' + i + ']" value="' + imgsrc[i].getAttribute("src") + '" />')
            }
            return true;
        }
        function PreviewImage(file, index) {
            if (file) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('.image-list').append('<div class="image-item col-xs-6 col-md-4" data-id="0">  <span class="thumbnail"> \
                                                        <img class="img-responsive" alt="' + reader.name + '" src="' + e.target.result + '" title="' + reader.name + '" \
                                                                    data-image="[object File]" data-id="0"> </span><button type="button" onclick="RemoveImage('+ index + ')" class="btn btn-danger btn-xs">Sil</button> </div>');


                }
                reader.name = file.name
                reader.readAsDataURL(file);
            }
        }
        function DirectPreviewImage(file, index) {
            if (file) {
                    $('.image-list').append('<div class="image-item col-xs-6 col-md-4" data-id="0">  <span class="thumbnail"> \
                                                        <img class="img-responsive" alt="' + String(file).split('/').pop() + '" src="' + file + '" title="' + String(file).split('/').pop() + '" \
                                                                    data-image="[object File]" data-id="0"> </span><button type="button" onclick="RemoveImage('+ index + ')" class="btn btn-danger btn-xs">Sil</button> </div>');


            }
        }
        var images = new Array()
        function RemoveImage(index) {
            delete images[index]
            $('.image-list').html("");
            for (var i = 0; i < images.length; i++) {
                if (typeof images[i] === 'string')
                    DirectPreviewImage(images[i], i)
                else
                    PreviewImage(images[i], i)
            }
        }
        $(document).ready(function () {
            var files = new Array();
            @foreach (Media item in Model.Medias.Where(x=>x.IsPhoto))
            {
                @:files.push('@item.URL')
            }
            for (var i = 0; i < files.length; i++) {
                var afile = files[i];
                images.push(afile)
                DirectPreviewImage(afile, images.indexOf(afile))
            }
        });
        $("#input-file").change(function () {
            var file = this.files[0];

            if (file.size / 1024 > Number(this.dataset.maxsize) * 1024) {
                this.type = "text";
                this.type = "file"
                Swal.fire({
                    title: "Hata",
                    text: "Dosya boyutu "+this.data('max-size')+" mb üzerinde.",
                    confirmButtonColor: '#1ca445', confirmButtonText: 'Tamam', icon: 'error'
                });
            }
        });
        $("#input-images").change(function () {
            var files = this.files;
            this.type = "text";
            this.type = "file"
            var hata = 0;

            for (var i = files.length; i--;) {
                var afile = files[i];
                var size = afile.size / 1024;
                if (size > Number(this.dataset.maxsize) * 1024) {
                    hata += 1;
                    delete files[i]
                    delete $('#input-images')[0].files[i]
                } else {
                    images.push(afile)
                    PreviewImage(afile, images.indexOf(afile))
                }
            }
            if (hata > 0) {
                Swal.fire({
                    title: "Hata", text: "Ekran görüntülerinden " + hata + " tanesi " + this.dataset.maxsize + " MB sınırını aştığı için eklenemedi.", confirmButtonColor: '#1ca445', confirmButtonText: 'Tamam', icon: 'error'
                });
            }
        });
        $('#input-category').select2();
    </script>
}